{% extends 'base.html.twig' %}

{% block title %} Afficher une sortie | {{ parent() }}{% endblock %}
{% block stylesheets %}
    <style>
        .form-field {
            box-sizing: border-box;
            width: 80%;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="mt-5 container flex justify-center">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-6">
                    <h1 class="text-base font-semibold leading-7 text-gray-900">Ma sortie</h1>
                </div>
                <div class="border-b border-gray-900/10 pb-6">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

                        <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Nom de la sortie : </span>{{ sortie.nom | capitalize }}</div>
                        </div>
                            <div class="sm:col-span-3">
                                <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Campus :  </span>{{ sortie.siteOrganisateur.nom | capitalize }}</div>
                            </div>
                            <div class="sm:col-span-3">
                                <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Heure de début : </span>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</div>
                            </div>
                        <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Lieu : </span>{{ sortie.lieu.nom | capitalize }}</div>
                        </div>
                        <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Date limite d'inscription : </span>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</div>
                        </div>
                        <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Rue : </span>{{ sortie.lieu.rue | capitalize }}</div>
                        </div>
                        <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Nombre de places : </span>{{ sortie.nbInscriptionsMax | capitalize }}</div>
                        </div>
                            <div class="sm:col-span-3">
                                <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Durée : </span>{{ sortie.duree  }} Minutes </div>
                            </div>
                    <div class="sm:col-span-3">
                        <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Latitude : </span>{{ sortie.lieu.latitude  }}  </div>
                    </div>
                        <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Longitude : </span>{{ sortie.lieu.longitude  }}  </div>
                        </div>
                            <div class="sm:col-span-3">
                                <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Description : </span>{{ sortie.infosSortie | capitalize }}  </div>
                            </div>
                     <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Ville : </span>{{ sortie.lieu.ville.nom | capitalize }}  </div>
                        </div>
                        <div class="sm:col-span-3">
                            <div class="block text-sm font-medium leading-6 text-gray-900"><span class="font-bold">Code postal : </span>{{ sortie.lieu.ville.codePostal  }}  </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    <section class="antialiased bg-gray-100 text-gray-600 h-screen px-4">
        <div class="flex flex-col justify-center h-full">
            <!-- Table -->
            <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                <header class="px-5 py-4 border-b border-gray-100">
                    <h2 class="font-semibold text-gray-800">Liste des participants inscrits : </h2>
                </header>
                <div class="p-3">
                    <div class="overflow-x-auto">
                        <table class="table-auto w-full">
                            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Pseudo</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Nom</div>
                                </th>

                            </tr>
                            </thead>
                            <tbody class="text-sm divide-y divide-gray-100">
                            <tr>

{#                                <td class="p-2 whitespace-nowrap">#}
{#                                    <div class="flex items-center">#}

{#                                        <div class="font-medium text-gray-800">Alex Shatov</div>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td class="p-2 whitespace-nowrap">#}
{#                                    <div class="text-left">alexshatov@gmail.com</div>#}
{#                                </td>#}

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </div>
{% endblock %}


