{% extends 'base.html.twig' %}

{% block title %} Modification de sorties | {{ parent() }}{% endblock %}
{% block stylesheets %}
    <style>
        .form-field {
            box-sizing: border-box;
            width: 80%;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="mt-5 container flex justify-center">

        {{ form_errors(form) }}
        <form action="#" method="post">
            {{ form_start(form) }}
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-6">
                    <h1 class="text-base font-semibold leading-7 text-gray-900">Mon profil</h1>
                </div>
                <div class="border-b border-gray-900/10 pb-6">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                            <label for="{{ form.nom.vars.id }}"
                                   class="block text-sm font-medium leading-6 text-gray-900">Nom de la sortie : </label>
                            <div class="mt-2">
                                {{ form_row(form.nom, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.siteOrganisateur.vars.id }}"
                                   class="block text-sm font-medium leading-6 text-gray-900">Campus : </label>
                            <div class="mt-2">
                                {{ form_row(form.siteOrganisateur, {'attr': {'class': ' form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.dateHeureDebut.vars.id }}"
                                   class="block text-sm font-medium leading-6 text-gray-900">Heure de début : </label>
                            <div class="mt-2 flex items-center">
                                <div class="relative" style="background-color:pink;">
                                    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path
                                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                        </svg>
                                    </div>
                                    {{ form_row(form.dateHeureDebut, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                                </div>
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.lieu.vars.id }}_ville_nom"
                                   class="block text-sm font-medium leading-6 text-gray-900">Ville : </label>
                            <div class="mt-2">
                                {{ form_row(form.lieu.ville.nom, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.dateLimiteInscription.vars.id }}"
                                   class="block text-sm font-medium leading-6 text-gray-900">Date limite d'inscription
                                :</label>
                            <div class="mt-2 flex items-center">
                                <div class="relative" style="background-color:pink;">
                                    <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path
                                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                        </svg>
                                    </div>
                                    {{ form_row(form.dateLimiteInscription, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                                </div>
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="{{ form.lieu.vars.id }}_nom"
                                   class="block text-sm font-medium leading-6 text-gray-900">Lieu : </label>
                            <div class="mt-2 flex">
                                {{ form_row(form.lieu.nom, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                                <img class="h-8 w-auto" src="{{ asset('img/plus.svg') }}" alt="Plus">
                            </div>
                        </div>

                        <div class="sm:col-span-3">
                            <label for="{{ form.nbInscriptionsMax.vars.id }}"
                                   class="block text-sm font-medium leading-6 text-gray-900">Nombre de places : </label>
                            <div class="mt-2">
                                {{ form_row(form.nbInscriptionsMax, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.lieu.vars.id }}_rue"
                                   class="block text-sm font-medium leading-6 text-gray-900">Rue : </label>
                            <div class="mt-2">
                                {{ form_row(form.lieu.rue, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.duree.vars.id }}"
                                   class="block text-sm font-medium leading-6 text-gray-900">Durée : </label>
                            <div class="mt-2">
                                {{ form_row(form.duree, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.lieu.vars.id }}_ville_codePostal"
                                   class="block text-sm font-medium leading-6 text-gray-900">Code postal : </label>
                            <div class="mt-2">
                                {{ form_row(form.lieu.ville.codePostal, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div class="sm:col-span-3">
                            <label for="{{ form.infosSortie.vars.id }}"
                                   class="block text-sm font-medium leading-6 text-gray-900">Descritpion et infos : </label>
                            <div class="mt-2">
                                {{ form_row(form.infosSortie, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                            </div>
                        </div>
                        <div>
                            <div class="sm:col-span-3">
                                <label for="{{ form.lieu.vars.id }}"
                                       class="block text-sm font-medium leading-6 text-gray-900">Latitude : </label>
                                <div class="mt-2">
                                    {{ form_row(form.lieu.latitude, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                                </div>
                            </div>
                            <div class="sm:col-span-3">
                                <label for="{{ form.lieu.vars.id }}"
                                       class="block text-sm font-medium leading-6 text-gray-900">Longitude : </label>
                                <div class="mt-2">
                                    {{ form_row(form.lieu.longitude, {'attr': {'class': 'form-field px-2 py-1 border rounded focus:outline-none focus:border-blue-500'}, 'label': false}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="reset" class="text-sm font-semibold leading-6 text-gray-900">Annuler</button>
                <button type="submit"
                        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Publier la sortie
                </button>
                <button type="submit"
                        class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Enregistrer
                </button>
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'}}) }}
            {{ form_widget(form.post, {'attr': {'class': 'rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'}}) }}
            {{ form_end(form) }}


        </form>


    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const nomInput = document.querySelector("#sortie_lieu_nom");
            nomInput.addEventListener("change", function() {
                const form = this.closest("form");
                const formData = new FormData(form);

                fetch('{{ path('app_sortie_create') }}', {
                    method: form.getAttribute("method"),
                    body: formData,
                    headers:{
                        "Content-Type": "application/x-www-form-urlencoded",
                        "charset":"utf-8"
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#sortie_lieu_rue");
                        document.querySelector("#sortie_lieu_rue").replaceWith(nouveauSelect)
                    })
                    .catch(error => {
                        // Gérez les erreurs ici
                        console.error(error);
                    });
            });
        });
    </script>

{% endblock %}


